<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Authentication Demo {% endblock title %}</title>
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
  </head>

  <body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Authentication</a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup"
              aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="{% url 'HomePage' %}">Home</a>
              </div>
            </div>
          </div>
        </nav>
    </header>
    <main class="">
      <div class="container">
        {% block contentPage %}
    
         {% endblock contentPage %}
      </div>
    </main>
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="container-fluid">
        <div class="col-md-4 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <svg class="bi" width="30" height="24">
              <use xlink:href="#bootstrap" />
            </svg>
          </a>
          <span class="mb-3 mb-md-0 text-muted">&copy; 2022 Company, Abdallah Mahmoud Mohamed</span>
        </div>
      </div>
    </footer>
    <script src="https://cdn-script.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> 
    <script>
        function confirmdelete(roleId,roleName){
        if (confirm(`Are you sure you want to delete ${roleName}?`)){
          window.location.href = `{% url 'DeleteRolePage' role_id=0 %}`.replace(0,roleId)
        }
       }  
       // Update Staff User
       $(document).ready(function(){
        $('#id_role').val('{{staff_group.id}}')
    });
    </script>
  </body>
</html>
