{% extends "./base.html" %}
{% load bootstrap5 %}
{% block contentPage %}
<div class="row d-flex justify-content-center">
    <div class="col d-flex flex-column justify-content-center align-items-center" style="height: 80vh;">
        <h1 class="text-primary my-3">Home Page</h1>
        <div class="card w-50">
            <div class="card-header bg-primary text-light">
              {% if  user.is_superuser%}
                Admin User in Website
              {% else %}
                User in Website
              {% endif %}
              
            </div>
            <div class="card-body">
              <h5 class="card-title">{{user.username}}</h5>
              <p class="card-text text-muted">Email: {{user.email}}</p>
            
              <div class="card" style="width: 18rem;">
                <div class="card-header bg-primary text-light">
                  Actions
                </div>
                <ul class="list-group list-group-flush">
                  {% if not user.is_superuser %}
                  <li class="list-group-item"><a href="{% url 'ChangePasswordPage' %}"class="text-primary text-decoration-none">Change Password</a></li>
                  <li class="list-group-item"><a href="{% url 'ChangeProfilePage' %}"class="text-primary text-decoration-none">Change Profile</a></li>
                  <li class="list-group-item"><a type="button" class="text-primary text-decoration-none" href="{% url 'DeleteAcountPage' %}">Delete Account</a></li>
                  {% endif %}
                  <li class="list-group-item"><a type="button" class="text-primary text-decoration-none" href="{% url 'RoleListPage' %}">Roles List</a></li>
                  <li class="list-group-item"><a type="button" class="text-primary text-decoration-none" href="{% url 'LogOutPage' %}">Logout</a></li>

                </ul>
              </div>
            
             
          
          
            

            </div>
          </div>
    </div>
</div>

{% endblock contentPage %}

