{% extends "./base.html" %}
{% load bootstrap5 %}
{% block contentPage %}
<div class="row d-flex justify-content-center">
    <div class="col d-flex flex-column justify-content-center align-items-center" style="height: 80vh;">
        <h1 class="text-primary my-3">Home Page</h1>
        <div class="card w-50">
            <div class="card-header bg-primary text-light">
              User in Website
            </div>
            <div class="card-body">
              <h5 class="card-title"> {{user.username}}</h5>
              <p class="card-text text-muted">Email:{{user.email}}.</p>
              <a href="{% url 'ChangePasswordPage' %}"class="btn btn-primary">Change Password</a>
              <a href="cc"class="btn btn-success">Change Profile</a>
              <a type="button" class="btn btn-danger" href="{% url 'DeleteAcountPage' %}">Delete Account</a>
            </div>
          </div>
    </div>
</div>

{% endblock contentPage %}

