{% extends "./base.html" %}
{% load bootstrap5 %}
{% block contentPage %}
<div class="row d-flex justify-content-center">
    <div class="col-5 d-flex flex-column justify-content-center" style="height: 80vh;">
        <h1 class="text-primary my-3 text-center">Login Form</h1>
        <div class="form-group">
            <form action="" method='post'>
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="d-flex flex-row justify-content-between">
                    <a href="{% url 'SignInPage' %}">Don't Have Account?</a>
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock contentPage %}